{
	"description": "o2o project by WePY",
	"setting": {
		"urlCheck": false,
		"es6": false,
		"postcss": true,
		"preloadBackgroundData": false,
		"minified": false,
		"newFeature": true,
		"coverView": true,
		"nodeModules": false,
		"autoAudits": false,
		"showShadowRootInWxmlPanel": false,
		"scopeDataCheck": false,
		"checkInvalidKey": true,
		"checkSiteMap": true,
		"uploadWithSourceMap": true,
		"babelSetting": {
			"ignore": [],
			"disablePlugins": [],
			"outputPath": ""
		}
	},
	"compileType": "miniprogram",
	"appid": "wx3d24c565489e305b",
	"projectname": "O2O%E5%95%86%E6%88%B7%E7%AB%AF%E5%B0%8F%E7%A8%8B%E5%BA%8F",
	"miniprogramRoot": "weapp/",
	"simulatorType": "wechat",
	"simulatorPluginLibVersion": {},
	"libVersion": "2.11.1",
	"condition": {
		"search": {
			"current": -1,
			"list": []
		},
		"conversation": {
			"current": -1,
			"list": []
		},
		"plugin": {
			"current": -1,
			"list": []
		},
		"game": {
			"list": []
		},
		"gamePlugin": {
			"current": -1,
			"list": []
		},
		"miniprogram": {
			"current": -1,
			"list": [
				{
					"id": -1,
					"name": "pages/order/OrderRetail",
					"pathName": "pages/order/OrderRetail",
					"query": "Order_Type=waimai",
					"scene": null
				},
				{
					"id": -1,
					"name": "pages/order/OrderRetail",
					"pathName": "pages/order/OrderRetail",
					"query": "Order_Type=waimai",
					"scene": null
				},
				{
					"id": -1,
					"name": "pages/live/room",
					"pathName": "pages/live/room",
					"query": "",
					"scene": null
				},
				{
					"id": 3,
					"name": "pages/support/Im",
					"pathName": "pages/support/Im",
					"query": "type=user&tid=6&room_title=汪君相",
					"scene": null
				},
				{
					"id": -1,
					"name": "pages/marketing/Seckill",
					"pathName": "pages/marketing/Seckill",
					"query": "",
					"scene": null
				},
				{
					"id": -1,
					"name": "pages/product/form",
					"pathName": "pages/product/form",
					"scene": null
				}
			]
		}
	}
}
