/* variables start */
@import "./variables.scss";
/* variables end */

/* mixin start */
@import "./mixins.scss";
/* mixin end */

/* rest style start */
.rest{
  padding: 0;
  margin: 0;
  border:0;
  list-style: none;
}





/* rest style end */

/* common style start */
//$color-list: 000,111,222,333,444,555,666,777,888,999;
.c0{
  color: #000;
}
.c1{
  color: #111;
}
.c2{
  color: #222;
}
.c3{
  color: #333;
}
.c4{
  color: #444;
}
.c5{
  color: #555;
}
.c6{
  color: #666;
}
.c7{
  color: #777;
}
.c8{
  color: #888;
}
.c9{
  color: #999;
}

@for $i from 4 through 100 {
  .m-#{$i} { margin: ($i)+px; }
  .m-t-#{$i} { margin-top: ($i)+px; }
  .m-b-#{$i} { margin-bottom: ($i)+px; }
  .m-l-#{$i} { margin-left: ($i)+px; }
  .m-r-#{$i} { margin-right: ($i)+px; }

  .p-#{$i} { padding: ($i)+px; }
  .p-t-#{$i} { padding-top: ($i)+px; }
  .p-b-#{$i} { padding-bottom: ($i)+px; }
  .p-l-#{$i} { padding-left: ($i)+px; }
  .p-r-#{$i} { padding-right: ($i)+px; }


  .w#{$i} { width: ($i)+px; }
  .h#{$i} { height: ($i)+px; }

  .fz-#{$i} { font-size: ($i)+px; }
}

.fz-bold{
  font-weight: bold;
}

page{
  background: #f8f8f8;

}


.page-wrap{
  //min-height: 100vh;
  &.safearea{
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
  }
  &.bottom-btn{
    padding-bottom: 50px;
  }

  .action-btn{
    position: fixed;
    left: 0;
    z-index: 3;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
  }

}

.color-gray{
  color: $fun-gray-color;
}
.color-primary{
  color: $fun-primary-color;
}
.color-red{
  color: $fun-red-color;
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.bgwhite{
  background: white;
}

.flex{
  display: flex;
  .flex1{
    flex: 1;
  }
  &-vertical-center{
    align-items: center;
  }
  &-justify-center{
    justify-content: center;
  }
  &-justify-between{
    justify-content: space-between;
  }
}

.noscrollbar{
  &::-webkit-scrollbar{
    display: none;
  }
}


/* common style end */


.block{
  &-title{
    display: flex;
    &-text{
      flex: 1;
      font-size: 18px;
      color: #333;
    }
    &-more{

    }
  }
  &-nav{
    &-item{

    }
  }
}

.group-cell{
  padding-left:20rpx;
  box-sizing: border-box;
  margin-bottom: 30rpx;
  &:last-child{
    margin-bottom: 0;
  }
  .cell-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20rpx 0;
    &:last-child{
      border-bottom: none;
    }
    .label{

      color: #999;
    }
    .content{
      flex: 1;
      text-align: right;
      color: #444;
    }
    .right{
      margin: 0 10px;
    }
  }
}

.form{
  .group-cell{
    .cell-item{
      .label{
        &:not(:empty){
          width: 180rpx;
        }
        color: #333;
      }
    }
  }
}
.bor{
  border: 1px solid #DADADA;
}
.bor-b{
  border-bottom: 1px solid #DADADA;
}

.btn{
  height: 44px;
  width: 750rpx;
  box-sizing: border-box;
  line-height: 44px;
  text-align: center;
  color: #333;
  font-size: 16px;
  border-radius: 0;
  &-primary{
    background: $fun-blue-color;
    color: #fff;
  }
  &-cancel{
    background: $fun-gray-color;
    color: #fff;
  }
}

.safearea-box{
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
  width: 100%;
  &.fixed{
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

.posi{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%)
}
